// Operator workspace shell: five-pane spine + side panels
import SpineInspector from "./SpineInspector.astro";
import CorpusResolverPanel from "./CorpusResolverPanel.astro";
import ActiveContractCard from "./ActiveContractCard.astro";
import ClosureRegistryCard from "./ClosureRegistryCard.astro";
import WeldReceiptViewer from "./WeldReceiptViewer.astro";
import InvocationGatePanel from "./InvocationGatePanel.astro";
---

<div class="operator-shell">
  <SpineInspector />
  <CorpusResolverPanel />
  <ActiveContractCard />
  <ClosureRegistryCard />
  <WeldReceiptViewer />
  <InvocationGatePanel />
</div>
